.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: calc(100% + 0.5vw);
  text-align: center;

  position: relative;
}

.bgImage {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 1em;
  bottom: 1em;
  right: 1em;
  left: 1em;
  opacity: 0.15;
  pointer-events: none;
}

.inner {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.label {
  display: block;
  width: 100%;
  text-align: center;
}

.labelLarge {
  font-size: 4em;
}

.labelMedium {
  font-size: 2em;
}

.labelSmall {
  font-size: 1.5em;
}

.link {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}
