$background-color-1: #e82711;
$background-color-2: #9b2d23;

@keyframes pulse-connection-lost {
  0%   { background-color: $background-color-1; }
  50%  { background-color: $background-color-2; }
  100% { background-color: $background-color-1; }
}

.connectionLost {
  animation: pulse-connection-lost 2s infinite;
  display: inline;
  padding: 0.5em 1em;
  background: $background-color-1;
}
