@import "../styles/mixins";

.dashboard {
  display: flex;
  flex-direction: column;
  @extend %fullscreen;
}

.meta {
  margin: auto 1em 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em;
}