.widget {
    &::before {
        content: "";
        background: url("./circleci.svg") no-repeat center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.15;
    }
}

.success {
    composes: widget;
    background: #429c6a;
}

.failed {
    composes: widget;
    background: #dd1506;
}